.btn{
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em 0;
  transition: background-color 0.3s;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}