<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Add Product</h1>
    <form method="POST" action="add-product-process">
    pname: <input type="text" name="txt1"/>
    pprice: <input type="text" name="txt2"/>
    pdetails: <input type="text" name="txt3"/>
    <input type="submit">
    </form>
</body>
</html>