.btn{
  background-color: #01c2f8;
  
  border-radius: 50px;
  color: rgb(4, 4, 4);
  
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em 0;
  transition: background-color 0.3s;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  
}
.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}